@{
    ViewData["Title"] = "Home Page";
}
<style>

     #intro {
        background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
      }
</style>

<div id="intro" class="bg-image shadow-2-strong d-flex">
 <div class="m-auto">
    <b> <h1 style="color:blue">Experion Cabs</h1></b>
    <p></p>
</div>
</div>